/* variables */
:root {
  --dropbutton-primary: rgb(121, 45, 146);
  --dropbutton-primary-dark: rgb(100, 25, 120);
  --dropbutton-primary-darker: rgb(60, 15, 80);
  --dropbutton-primary-darkest: rgb(40, 10, 60);
  --dropbutton-border: rgb(70, 20, 70);
}

.DropButton__container {
  position: relative;

}

.DropButton {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  color: #f8f8f8;
  background-image: linear-gradient(to bottom right, var(--dropbutton-primary), var(--dropbutton-primary-dark));
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  border: 2px solid var(--dropbutton-border);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: all 0.2s;
}

.DropButton__label {
  padding-right: 0.5rem;
  border-right: 1px solid #a0a0c0;
}

.DropButton__dropdown {
  padding-left: 0.25rem;
}

.DropButton:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.DropButton:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

.DropButton__options {
  color: #f8f8f8;
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  margin: 0 5%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, var(--dropbutton-primary) 60%, var(--dropbutton-primary-dark));
  border: 1px solid #080838;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 3px 6px var(--dropbutton-primary-darkest);
}

.DropButton__option {
  border-top: 2px solid var(--dropbutton-primary-darkest);
  padding-top: 2px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.DropButton__option:hover {
  text-decoration: underline;
}

.DropButton__option:active {
  text-decoration: none;
}
