.Form__input {
  width: 100%;
  background-color: var(--color-primary);
  border: 1px dashed var(--color-primary-xlight);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--color-tertiary-ldark);
  position: relative;
  opacity: 0.85;
}

.Form__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Form__image:hover {
  text-decoration: underline;
}

.Form__image__up {
  object-fit: contain;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid var(--color-primary-light);
  border-radius: 1rem;
  box-shadow: 0 0 2px var(--color-tertiary-ldark);
  background-color: var(--color-primary);
}

.Form__textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem;
  border-radius: 1rem;
}

.Form__textarea:focus {
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary) 60%,
    var(--color-primary-light)
  );
  outline: 0px;
}

.Form__selection {
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.Form__selection:hover {
  position: relative;
  text-decoration: underline;
}

.Form__selection--selected {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary-xlight);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--color-tertiary-ldark);
  position: relative;
}

.Form__selection--selected:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary-xlight);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--color-tertiary-ldark);
  position: relative;
}

.Form__select {
  font-size: 1.2rem;
  width: 7rem;
  color: #f8f8f8;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='Indigo'><polygon points='5,10 95,10 50,85'/></svg>") no-repeat right 6px center,
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='Black'><polygon points='0,5 100,5 55,90'/></svg>") no-repeat right 6px center,
    linear-gradient(to bottom, var(--dropbutton-primary), var(--dropbutton-primary-dark));
  background-size: 0.75rem;
  border: 1px solid var(--dropbutton-border);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--color-tertiary-ldark);
  cursor: pointer;
}

.Form__select:focus {
  outline: 0px;
}
